*.class
package-lock.json
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
bin/
.mvn/
.springBeans
\.factorypath

# security
*.jksz
.node_modules/
.public/
.routes/
.views/
